:root {
  --clr-100: #f2f4ff;
  --clr-300: #27b5de;
  --clr-310: #1f8ead;
  --clr-320: #b9cdd2;
  --clr-600: #00e200;
  --clr-900: #1a1d1a;
  --clr-910: #a9a9a9;
  --clr-920: #e4e4e4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--clr-100);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
}

.actionBtnContainer {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
}

.closeBtn,
.deleteBtn,
.editBtn,
.downloadXLSX {
  background-color: var(--clr-300);
  color: var(--clr-100);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
}

.deleteBtn {
  background-color: red;
}

.editBtn,
.closeBtn,
.downloadXLSX {
  background-color: var(--clr-300);
}

@media (min-width: 1024px) {
  .closeBtn,
  .editBtn,
  .deleteBtn,
  .downloadXLSX {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
}
