:root {
  --clr-100: #f2f4ff;
  --clr-300: #27b5de;
  --clr-310: #1f8ead;
  --clr-900: #1a1d1a;
  --clr-910: #a9a9a9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--clr-100);
}
