:root {
  --clr-100: #f2f4ff;
  --clr-300: #27b5de;
  --clr-310: #1f8ead;
  --clr-900: #1a1d1a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--clr-100);
}

.form-container {
  width: 100%;
  height: 100vh;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 1.25rem;
}

.form > input {
  border: 2px solid var(--clr-900);
  border-radius: 1.2rem;
  transition: border 500ms ease;
  outline: none;
  text-align: center;
  color: var(--clr-900);
  background-color: transparent;
}

.form > input:hover,
.form > input:focus {
  border: 2px solid var(--clr-300);
}

.form > input::placeholder {
  text-align: center;
}

.button {
  background-color: var(--clr-300);
  border: 2px solid var(--clr-300);
  border-radius: 1.2rem;
  text-align: center;
  color: var(--clr-100);
  font-weight: bold;
  cursor: pointer;
  transition: 500ms;
}

.button:focus,
.button:hover {
  background-color: var(--clr-100);
  color: var(--clr-300);
}

form > p {
  color: var(--clr-900);
}

form > p > button {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  color: var(--clr-300);
  font-weight: bold;
  cursor: pointer;
}

form > p > button:focus,
form > p > button:hover {
  color: var(--clr-310);
}

@media (min-width: 1024px) {
  .form > img {
    margin-block: 5rem;
  }
  .form > input {
    width: 22.5rem;
    height: 3rem;
  }
  .form > input::placeholder {
    font-size: 1rem;
  }
  .button {
    width: 22.5rem;
    height: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
  .form > img {
    margin-block: 5rem;
  }
  .form > input {
    width: 22.5rem;
    height: 3rem;
  }
  .form > input::placeholder {
    font-size: 1rem;
  }
  .button {
    width: 22.5rem;
    height: 3rem;
  }
}
