.createQuizForm {
  display: flex;
  flex-direction: column;
}

.createQuizForm input[type="text"] {
  word-wrap: break-word;
  word-break: break-all;
}

.createQuizForm > .questionContainer {
  margin-block: 1rem;
}

.createQuizForm > h2 {
  font-size: 1.5rem;
}

.createQuizForm > .questionContainer > .question {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .createQuizForm {
    width: 25rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
}
