.createQuizContainer > h1 {
  font-weight: bold;
}

.createQuizForm {
  display: flex;
  flex-direction: column;
}

.createQuizForm ::placeholder {
  text-transform: capitalize;
}

.createQuizForm input,
.createQuizForm textarea {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
  outline: 1px solid var(--clr-900);
  color: var(--clr-950);
  border: none;
}

.createQuizForm input:hover,
.createQuizForm input:focus,
.createQuizForm textarea:hover,
.createQuizForm textarea:focus {
  outline: 2.5px solid var(--clr-300);
}

.createQuizForm label {
  text-transform: capitalize;
}

.createQuizForm > label {
  margin-block: 0.5rem;
  font-weight: bold;
}

.createQuizForm > .questionContainer {
  margin-block: 1rem;
}

.createQuizForm > h2 {
  font-size: 1.5rem;
}

.createQuizForm > .questionContainer > .question {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.createQuizForm textarea {
  resize: vertical;
  height: auto;
}

.createQuizBtn {
  margin-block: 2rem;
}

.createQuizForm > h2 {
  margin-block: 1rem;
  font-weight: bold;
}

.createQuizForm .questionNumber {
  font-weight: bold;
}

.questionContainer {
  background-color: var(--clr-000);
  border: 1px solid var(--clr-900);
  border-radius: 0.5rem;
}

.deleteQuesBtn {
  margin-block-end: 1rem;
}

@media (min-width: 1024px) {
  .createQuizContainer > h1 {
    font-size: 2rem;
  }
  .createQuizContainer {
    margin-block: 3rem;
  }
  .createQuizForm {
    width: 25rem;
  }
  .questionContainer {
    padding-block: 2rem;
    padding-inline: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .createQuizContainer > h1 {
    font-size: 2rem;
  }
  .createQuizContainer {
    margin-block: 3rem;
  }
  .createQuizForm {
    width: 25rem;
  }
  .questionContainer {
    padding-block: 2rem;
    padding-inline: 3rem;
  }
}

@media (max-width: 767px) {
  .createQuizContainer > h1 {
    font-size: 1.5rem;
  }
  .createQuizContainer {
    margin-block: 3rem;
  }
  .createQuizForm {
    padding-inline: 0.5rem;
  }
  .questionContainer {
    width: 90vw;
    padding-block: 1rem;
    padding-inline: 1rem;
  }
}
