.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block-end: 2rem;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.form > input {
  border: 2px solid var(--clr-900);
  border-radius: 1.2rem;
  transition: border 500ms ease;
  outline: none;
  text-align: center;
  color: var(--clr-900);
  background-color: transparent;
}

.form > input:hover,
.form > input:focus {
  border: 2px solid var(--clr-300);
}

.form > input::placeholder {
  text-align: center;
}

.button {
  background-color: var(--clr-300);
  border: 2px solid var(--clr-300);
  border-radius: 1.2rem;
  text-align: center;
  color: var(--clr-100);
  font-weight: bold;
  cursor: pointer;
  transition: 500ms;
}

.button:focus,
.button:hover {
  background-color: var(--clr-100);
  color: var(--clr-300);
}

form > p {
  color: var(--clr-900);
}

form > p > button {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  color: var(--clr-300);
  font-weight: bold;
  cursor: pointer;
}

form > p > button:focus,
form > p > button:hover {
  color: var(--clr-310);
}

.show-password-btn {
  background-color: transparent;
  border: none;
  outline: none;
  align-self: flex-end;
  margin-top: -1rem;
  text-decoration: underline;
  font-size: 0.8rem;
  cursor: pointer;
  font-style: italic;
}

.username_hint {
  font-style: italic;
  font-size: 0.8rem;
  align-self: flex-end;
  margin-top: -1rem;
}

@media (min-width: 1024px) {
  .form {
    width: 22.5rem;
  }
  .form > img {
    margin-block: 5rem;
    width: 12rem;
  }
  .form > input {
    width: 22.5rem;
    height: 3rem;
  }
  .form > input::placeholder {
    font-size: 1rem;
  }
  .button {
    width: 22.5rem;
    height: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form > img {
    margin-block: 5rem;
    width: 10rem;
  }
  .form > input {
    width: 22.5rem;
    height: 3rem;
  }
  .form > input::placeholder {
    font-size: 1rem;
  }
  .button {
    width: 22.5rem;
    height: 3rem;
  }
}

@media (max-width: 767px) {
  .form {
    width: 100%;
    padding-inline: 1rem;
  }
  .form > img {
    margin-block: 5rem;
    width: 10rem;
  }
  .form > input {
    width: 100%;
    height: 3rem;
  }
  .form > input::placeholder {
    font-size: 1rem;
  }
  .button {
    width: 100%;
    height: 3rem;
  }
}
