.quizDetailsContainer {
  display: flex;
  padding-block: 1rem;
}

.quizDetailsContainer > .quizDetails > h2 {
  font-weight: bold;
  border-bottom: 1px solid var(--clr-910);
}

.quizDetailsContainer > .quizDetails > span {
  display: flex;
}

.quizDetailsContainer > .quizDetails > span > p {
  text-transform: capitalize;
}

.quizDetailsContainer > .quizDetails > span > p:first-child {
  font-weight: bold;
  width: 25%;
}

.quizDetailsContainer
  > .quizDetails
  > .quizQuestionsContainer
  > .questionContainer
  > .questionText {
  font-weight: bold;
  margin-top: 0.5rem;
}
.quizQuestionsContainer > .questionContainer {
  margin-block-end: 1rem;
}

.quizDeletedDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: var(--clr-000);
  padding: 1rem;
  border-radius: 0.5rem;

  box-shadow: 0 0 1rem 0.15rem var(--clr-910);
}

.quizDeletedDialog p {
  text-align: center;
}

@media (min-width: 1024px) {
  .quizDetailsContainer > .quizDetails {
    width: 30rem;
  }
  .quizDetailsContainer > .quizDetails > h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .quizDetailsContainer > .quizDetails > span > p:first-child {
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .quizDetailsContainer > .quizDetails {
    width: 30rem;
  }
  .quizDetailsContainer > .quizDetails > h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .quizDetailsContainer > .quizDetails > span > p:first-child {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .quizDetailsContainer {
    padding-inline: 1rem;
  }
  .quizDetailsContainer > .quizDetails {
    width: 100%;
  }
  .quizDetailsContainer > .quizDetails > h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .quizDetailsContainer > .quizDetails > span > p:first-child {
    width: 40%;
  }
}
